POSTGRES_DB=flowpay_attendance
POSTGRES_USER=flowpay
POSTGRES_PASSWORD=flowpay
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=4200

SPRING_JPA_SHOW_SQL=false
LOGGING_LEVEL_ORG_HIBERNATE_SQL=WARN
LOGGING_LEVEL_ORG_FLYWAYDB=INFO
